SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{product}=="USB <-> 1Wire (MP00206)", ATTRS{manufacturer}=="MERA-PROJEKT", SYMLINK+="geekhome/1wire/%s{serial}"
