*.iml
library-*/target
module-*/target/
module-*/.idea/
final-geekhome/logs/
logs/
build/output/
build/to-obfuscate/
.idea/
final-geekhome/target/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
