
.icon-custom-bullhorn			.ui-icon { background:  url(icons/bullhorn.svg) 50% 50% no-repeat; background-size: 28px 28px; }
.icon-custom-magneticdetector	.ui-icon { background:  url(icons/magneticdetector.svg) 50% 50% no-repeat; background-size: 28px 28px; }
.icon-custom-door			    .ui-icon { background:  url(icons/door.svg) 50% 50% no-repeat; background-size: 28px 28px; }
.icon-custom-garagedoor			.ui-icon { background:  url(icons/garagedoor.svg) 50% 50% no-repeat; background-size: 28px 28px; }
.icon-custom-gate			    .ui-icon { background:  url(icons/gate.svg) 50% 50% no-repeat; background-size: 28px 28px; }
.icon-custom-keyboard			.ui-icon { background:  url(icons/keyboard.svg) 50% 50% no-repeat; background-size: 28px 28px; }
.icon-custom-radar				.ui-icon { background:  url(icons/radar.svg) 50% 50% no-repeat; background-size: 28px 28px; }
.icon-custom-running			.ui-icon { background:  url(icons/running.svg) 50% 50% no-repeat; background-size: 28px 28px; }
.icon-custom-smokedetector		.ui-icon { background:  url(icons/smokedetector.svg) 50% 50% no-repeat; background-size: 28px 28px; }
.icon-custom-window				.ui-icon { background:  url(icons/window.svg) 50% 50% no-repeat; background-size: 28px 28px; }
.icon-custom-shield				.ui-icon { background:  url(icons/shield.svg) 50% 50% no-repeat; background-size: 28px 28px; }

