<script id="portsinfotemplate" type="text/x-jquery-tmpl">
<!-- @RES:C:NoPortsForDevice -->:
<ul>
    {{if $p0}}<li><!-- @RES:C:DigitalOutputPorts --></li>{{/if}}
    {{if ($p1)}}<li><!-- @RES:C:DigitalInputPorts --></li>{{/if}}
    {{if ($p2)}}<li><!-- @RES:C:PowerOutputPorts --></li>{{/if}}
    {{if ($p3)}}<li><!-- @RES:C:PowerInputPorts --></li>{{/if}}
    {{if ($p4)}}<li><!-- @RES:C:TemperaturePorts --></li>{{/if}}
    {{if ($p5)}}<li><!-- @RES:C:TogglePorts --></li>{{/if}}
    {{if ($p6)}}<li><!-- @RES:C:HumidityPorts --></li>{{/if}}
    {{if ($p7)}}<li><!-- @RES:C:LuminosityPorts --></li>{{/if}}
</ul>
<!-- @RES:C:HardwareCompletionInfo -->
</script>