<script id="multitogglecontroltemplate" type="text/x-jquery-tmpl">
<div data-role="fieldcontain">
    <img onClick="javascript:toggleFavorite('${Device.Name.UniqueId}', this)" src="/css/icons/star_{{if IsFavorite('' + Device.Name.UniqueId)}}on{{else}}off{{/if}}.svg" style="float:right" width="32" height="32">
    <h1>${Device.Name.Name}</h1>
    {{if (typeof Device.IconName !== 'undefined')}} <img src="/css/icons/${Device.IconName}.svg" style="margin-right:auto; margin-left:auto; display:block" width="64" height="64" /> {{/if}}
    <h4 class="invalidcodepanel" style="display:none"><!-- @RES:C:InvalidCode --></h4>
    {{each SortByUniqueId(States)}}
        {{if Type != 0}}
            <a data-role="button" data-theme="b" onclick="javascript:return changeStateAndClose('${Device.Name.UniqueId}', '${Name.UniqueId}');">${Name.Description}</a>
        {{/if}}
    {{/each}}
</div>
</script>

<div data-role="dialog" id="multitogglecontroldialog">
    <div data-role="header">
        <h1>
            <!-- @RES:C:ChangeState -->
        </h1>
    </div>
    <div data-role="content">
        <div id="multitogglecontrolcontent"></div>
        <a data-role="button" data-rel="back" href="#"><!-- @RES:C:Cancel --></a>
    </div>
</div>
<script type="text/javascript">
    jQuery('#multitogglecontroldialog').on('pagetransfer', function (e, args) {
        var multicontrolDeviceId = args.param;

        var templateData = {
            Device: CORE.FindDevice(multicontrolDeviceId),
            States: GetDeviceStates(multicontrolDeviceId),
        };

        jQuery('#multitogglecontrolcontent').html(jQuery('#multitogglecontroltemplate').tmpl(templateData));
    });
</script>